---
layout: default
title: "Font Filter"
navbar: "fonts"
---

<section id="landing-page" class="palette">
<div id="landing-page-banner">

  <div class="container">
  <div class="row">

    <div class="col-md-10" id="font-cards">
    <div class="row" id="font-cards-row-wrap">

    {% assign fonts = site.data.fontawesome.icons | sort: 'name' %}
    {% for font in fonts %}

      <div class="col-md-6 card-column">
      <div class="card">

          <div class="row icon">
            <i class="fa {{ site.data.fontawesome.prefix }}{{ font.id }}"></i>
          </div>
          <div class="row icon-name">
            {{ font.name }}
          </div>
          <div class="row icon-code">
            <code>&lt;i class="fa {{ site.data.fontawesome.prefix }}{{ font.id }}"&gt;&lt;/i&gt;</code>
          </div>
          <div class="row">
            <div class="col-md-6 meta">class:</div>
            <div class="col-md-6 class">{{ site.data.fontawesome.prefix }}{{ font.id }}</div>
            <!-- hide the metadata row, but it must be included -->
            <div class="col-md-6 meta hidden">metadata:</div>
            <div class="col-md-6 class hidden">{{ font.meta }}</div>
          </div>
          <div class="row">
            <div class="col-md-6 meta">unicode:</div>
            <div class="col-md-6 unicode">{{ font.unicode }}</div>
          </div>
          <div class="row">
            <div class="col-md-6 meta">version:</div>
            <div class="col-md-6 version">{{ font.created }}</div>
          </div>
          <div class="row">
            <div class="col-md-6 meta">categories:</div>
            <div class="col-md-6 categories">{{ font.categories }}</div>
          </div>
          <div class="row icon-link">
            <a href="{{ site.fontAwesomeFontBaseUrl }}{{ font.id }}" data-toggle="tooltip" data-placement="right" rel="tooltip" title="{{ font.meta }}" target="_blank">View on FontAwesome&nbsp;<i class="fa fa-external-link"></i></a>
          </div>

        </div><!-- /.card -->
        </div><!-- /.card-column -->
    {% endfor %}

    </div><!-- /#font-cards-row-wrap -->
    </div><!-- /#font-cards -->

    <div class="col-md-2">
    <div class="fixed-div">
      <p>Get updates when a font icon library is added to Fadbus.</p>

      {% include blocks/mailchimp.html %}
      {% include blocks/credits.html %}

    </div><!-- /.fixed-div -->
    </div><!-- /.fixed -->

  </div><!-- /.row -->
  </div><!-- /.container -->

</div><!-- /#landing-page-banner -->
</section><!-- /#landing-page -->

