<section class="about-section">
<div class="palette">
<div class="container horizontal-padding-small">
<div class="row">
	<div class="col-md-7 col-md-offset-4">
  	<p>Get updates when a font icon library is added to Fadbus.</p>
     <!-- Begin MailChimp Signup Form -->
				<div id="mc_embed_signup">
				<form action="//twitter.us3.list-manage.com/subscribe/post?u=cfd0fac6df19ebe88e3941afd&amp;id=32e1489c58" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
				    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_cfd0fac6df19ebe88e3941afd_32e1489c58" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				</form>
				</div>

<!--End mc_embed_signup-->
     <p>Filterable database of <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">FontAwesome</a> icons. Created and maintained by <a href="https://github.com/dereknutile" target="_blank">@dereknutile</a> and <a href="https://github.com/deandowd" target="_blank">@deandowd</a>. New metadata and improvements can be commited via the <a href="https://github.com/fadbus/fadbus.github.io" target="_blank">repository</a>.</p>
  </div>
  
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- /.palette -->
</div><!-- /.about-section -->
</section>