
	<section class="home-section">
		<div class="container">
		  <div class="row">
		    <div class="col-md-offset-4 col-md-8">
		      <div class="logo">
		      	<h1>Fadbus</h1>
		      	<p>The Database of Font Icons</p>
		      </div>
		    </div>
		  </div>


		<section class="searchbox-section">
			<div class="row">
				<div class="col-md-4">
		      <h2><span>Search for a font icon</span></h2>
		    </div>
				<div class="col-md-8">
					<div class="container horizontal-padding-medium">
					
		  				<input type="search" class="search form-control" id="font-filter-box" placeholder="Try 'wine' or 'email' or 'reboot' ... ">
					</div>
				</div><!-- /.container -->
			</div><!-- /.row -->
		</section><!-- /.searchbox-section -->
	</div>
</section>
