<section class="about-section">
<div class="background-color-aaa">
<div class="container horizontal-padding-medium">
<div class="row">

  <p>Filterable database of <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">FontAwesome</a> icons. Maintained by <a href="https://github.com/dereknutile" target="_blank">@dereknutile</a> at <a href="https://github.com/pixelnewt" target="_blank">@pixelnewt</a>. New metadata and improvements can be commited via the <a href="https://github.com/fadbus/fadbus.github.io" target="_blank">repository</a>.</p>
  
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- /.background-color-aaa -->
</div><!-- /.about-section -->
