<section class="about-section">
<div class="palette">
<div class="container horizontal-padding-small">
<div class="row">

  <p>Filterable database of <a href="http://fortawesome.github.io/Font-Awesome/" target="_blank">FontAwesome</a> icons. Created and maintained by <a href="https://github.com/dereknutile" target="_blank">@dereknutile</a> and <a href="https://github.com/deandown" target="_blank">@deandown</a>. New metadata and improvements can be commited via the <a href="https://github.com/fadbus/fadbus.github.io" target="_blank">repository</a>.</p>
  
</div><!-- /.row -->
</div><!-- /.container -->
</div><!-- /.palette -->
</div><!-- /.about-section -->
</section>