/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font imports
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*script*/
@import url(http://fonts.googleapis.com/css?family=Lobster);

/*sans serif*/
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);

/*serif*/
@import url(http://fonts.googleapis.com/css?family=Arvo);

/*monospace*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* global variables */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

/*variables -- fonts*/
$monoSpaceFont: Inconsolata, Courier, monospace;
$serifFont: 'Arvo', Times, serif;
$sansSerifFont: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$scriptFont: 'Lobster';

/*variables -- sizes*/

/*variables -- colors*/

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

* {
  margin: 0;
  padding: 0;
}

html, body { height: 100%; }

body {
  padding-top: 50px;
  font-family: $sansSerifFont;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  font-family: $serifFont;
}

h1 { margin-bottom: 1em; }

p {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 1em;
}

a { color: #00a; }
a:hover { color: #00a; }
a:visited { color: #00a; }


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Bootstrap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container {
  width: 1024px;
}

.row {
  margin-left: 0px;
  margin-right: 0px;
  padding: 0 18px 0 18px;
}

.navbar-default .navbar-brand {
  color: #bf9000;
  font-size: 30px;
  font-weight: 100;
  text-shadow: 1px 1px 1px #000;
}

#footer {
  margin-bottom: 20px;
}

h1, h2, h3, h4, h5, h6 {
}

.jumbotron {
  
}

.lead {

}

.page-header {
  border-bottom: none;
}

.navbar {
  font-family: $sansSerifFont;
}

.navbar-default {
  background-color: #fff;
  border-bottom: 1px solid #aaa;
}

h1 small {
  padding-left: 15px;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* FontAwesome overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

#font-filter {
  margin-bottom: 24px;
}

.footer-wrapper {
  border-top: 1px solid #aaa;
  margin-top: 24px;
  padding-top: 12px;
}

.horizontal-padding-small {
  padding: 8px 0 8px 0;
}

.horizontal-padding-medium {
  padding: 24px 0 24px 0;
}

.horizontal-padding-large {
  padding: 48px 0 96px 0;
}

.background-color-aaa {
  background-color: #aaa;
}
