
<!-- main navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <div class="form-group col-xs-9 col-sm-9 hidden-md hidden-lg">
        <div class="input-group" id="font-filter-wrap">
        <input type="search" class="form-control" id="font-filter-box" placeholder="Try 'wine' or 'email'..."><span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
      </div>

    </div><!-- ./navbar-header -->

    <div class="collapse navbar-collapse" id="searchbar">
      
      <div class="form-group col-md-6 col-lg-6 hidden-xs hidden-sm">
        <div class="input-group" id="font-filter-wrap">
        <input type="search" class="form-control" id="font-filter-box" placeholder="Try 'wine' or 'email'..."><span class="input-group-addon"><i class="fa fa-search"></i></span>
        </div>
      </div>

      <ul class="nav navbar-nav navbar-right" id="nav-links">
        <li{% if page.navbar == 'fonts' %} class="active"{% endif %}><a href="{{ site.baseurl }}/">Fonts</a></li>
        <li{% if page.navbar == 'about' %} class="active"{% endif %}><a href="{{ site.baseurl }}/about">About</a></li>
        <li><a href="{{ site.baseurl }}/404.html">404 Testing</a></li>
        <li class="navbar-logo">
            <!-- hack to handle a long site title -->
          <a class="hidden-xs hidden-sm" href="{{ site.baseurl }}/">FADBUS&nbsp;<i class="fa fa-bus"></i></a>
          <a class="hidden-md hidden-lg" href="{{ site.baseurl }}/">{{ site.shortTitle }}&nbsp;<i class="fa fa-bus"></i></a>
        </li>

        <!-- <li class="navbar-circle">
            <span class="icon-circle"><i class="fa fa-bus"></i></span>
        </li> -->
                
      </ul><!-- /#nav-links -->
    </div><!--/.navbar-collapse -->

  </div><!-- .container -->
</div>
<!-- end main navigation -->
