
<!-- main navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <a href="/" title="The FontAwesome DataBase" class="hidden-xs hidden-sm hidden-md brand">FontAwesome Database</a>
        <a href="/" title="The FontAwesome DataBase" class="hidden-lg brand">FADB</a>

        {% if page.searchable == 'true' %}
        <input type="search" class="form-control form-top-pad" id="font-filter-box" placeholder="Type to filter using descriptors like 'drink' or 'email' ...">
        {% endif %}
      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- end main navigation -->


<div class="navbar navbar-default navbar-subnavbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

        <ul class="nav navbar-nav">
          <li{% if page.navbar == 'fonts' %} class="active"{% endif %}><a href="/" title="{{ site.tagline }}, Find your FontAwesome font easily!"><i class="fa fa-search"></i><span class="hidden-xs hidden-sm">&nbsp;Find Fonts</a></li>
          <li{% if page.navbar == 'about' %} class="active"{% endif %} title="About the FontAwesome Database"><a href="/about"><i class="fa fa-info-circle"></i><span class="hidden-xs hidden-sm">&nbsp;About</a></li>
          <li><a href="https://github.com/fadbus/fadbus.github.io" target="_blank"><i class="fa fa-github"></i><span class="hidden-xs hidden-sm" title="Look under the hood at GitHub">&nbsp;Fork Me</a></li>
          <li><a href="http://fortawesome.github.io/Font-Awesome/" title="Jump to the FontAwesome Website" target="_blank"><i class="fa fa-flag"></i><span class="hidden-xs hidden-sm">&nbsp;FontAwesome Website</a></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>