
<!-- main navigation -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="row">

      <div class="col-xs-12">
        <a href="/" title="The FontAwesome DataBase" class="hidden-xs hidden-sm brand">FontAwesome Database</a>
        <a href="/" title="The FontAwesome DataBase" class="hidden-md hidden-lg brand">FADB</a>
        <input type="search" class="form-control form-top-pad" id="font-filter-box" placeholder="Type to filter using descriptors like 'wine' or 'email' ...">
      </div>

    </div><!-- .row -->
  </div><!-- .container -->
</div><!-- end main navigation -->


<div class="navbar navbar-default navbar-subnavbar">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p></p>

        <ul class="nav navbar-nav">
          <li class="active"><a href="/" title="Find your FontAwesome font easily!">Find Fonts</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Fork Me</a></li>
          <li><a href="#">FontAwesome Website</a></li>
          <li></li>
        </ul>
      </div>
    </div>
  </div>
</div>