/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* font imports
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*script*/
@import url(http://fonts.googleapis.com/css?family=Permanent+Marker);
/*sans serif*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,700,500);
/*serif*/
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab);
/*monospace*/
@import url(http://fonts.googleapis.com/css?family=Inconsolata);
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* global variables */
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/*variables -- fonts*/
/*variables -- sizes*/
/*variables -- colors*/
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* resets
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
* { margin: 0; padding: 0; }

html, body { height: 100%; }

body { background-color:#f5f5f5; color:#6D6D6D; font-family: "Roboto", Helvetica, Arial, sans-serif; }

h1, h2, h3, h4, h5, h6 { font-weight: 600; font-family: "Roboto Slab", Times, serif; }

h1 { margin-bottom: 1em; }

p { font-size: 18px; line-height: 29px; margin-bottom: 1em; font-weight:300;}

a { color: #00a; }

a:hover { color: #00a; }

a:visited { color: #00a; }

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* Bootstrap overrides
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.container { width: 1024px; padding:0; }

.row { margin-left: 0px; margin-right: 0px; padding: 0 0px 0 0px; }

#footer { margin-bottom: 20px; }

.page-header { border-bottom: none; }

.tooltip-inner { width: 400px; min-width: 400px; }

h1 small { padding-left: 15px; }

.col-md-6 {
    padding:0 3em 0 0;
}

/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* navigation styles
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.navbar { font-family: "Roboto", Helvetica, Arial, sans-serif;/* padding: 1em 0;*/}

.navbar-default { background-color: #0033cc; }

#nav-links {padding-top:1em;}

.navbar-default .navbar-nav li a {color:#fff;}
.navbar-default .navbar-nav li a:hover {color:#33ff99;}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {background: none;color:#fff;}
.navbar .navbar-logo a {
    font-family: 'Permanent Marker', sans-serif;
    color:#33ff99;
    font-size: 2em;

}
.navbar .navbar-logo a:hover {
    color:#33ff99;
}
.navbar .navbar-logo a:visited {
    color:#33ff99;
}
.navbar .navbar-circle { /*circle*/
    content:"";
    display: block;
/*    width:12%;
*/  font-size: 2em;
    margin: 0 auto;
    background: #33ff99;
    color:#0033cc;
    /*
    padding-bottom: 100%;*/
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    text-align: center;
}

.navbar .navbar-circle .circle-icon { /*icon*/
    width:100%;
    padding-top:50%;
    line-height:1em;
    margin-top:-0.5em;
    text-align:center;
}

.navbar-form {padding:0;}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* custom styles
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */


.about-section {float:left;position: fixed;padding:0;width:inherit;}
.main-content-section {padding-top:100px;}

.row .col-md-10 {padding:0;}
/*.evenrow .col-md-6 {padding-right: 0;}*/

.mc-signup { margin: 1em 0; font:1em 'roboto',Helvetica,Arial,sans-serif; width: in}

.mc-signup .btn {margin-top:1em;}

#font-filter { margin-bottom: 24px; }

.footer-wrapper { border-top: 1px solid #aaa; margin-top: 24px; padding-top: 12px; }

.horizontal-padding-small { padding: 8px 0 8px 0; }

.horizontal-padding-medium { padding: 100px 0 24px 0; width:1024px;}

.horizontal-padding-large { padding: 48px 0 96px 0; }

.background-color-eee { background-color: #eeeeee; }

.forkme { position: absolute; top: 0; right: 0; border: 0; width: 125px; height: 125px; z-index: 10000; }

.font-list-header { font-weight: 800; padding: 8px 0 8px 0; margin-bottom: 16px; border-bottom: 3px solid #eeeeee; }

.font-list-rows { padding: 0; }
.horizontal-padding-medium .col-md-10 {padding:0;mar}
.horizontal-padding-medium .col-md-2 {padding:0;}

input[type=search], input[type=search]:focus { height: 100%; -webkit-box-shadow: none; box-shadow: none; border: 3px solid #eeeeee; font-size: 18px; padding: 12px 20px 12px 10px; font-weight: 300; }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* landing page styles
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

        .home-section {
            background-color: #0033cc;
            background-image: url(/assets/img/fadbus_bg.png);
            color:#fff;
            padding: 4em 0 6em 0;
        }
        .home-section .col-md-12 {
            text-align: center;
        }

        .circle-text {
            width:12%;
            font-size: 5em; /*update this for mobile/responsive*/
            margin: 0 auto;
        }
        .circle-text:after {
            content: "";
            display: block;
            width: 100%;
            height:0;
            padding-bottom: 100%;
            background: #33ff99; 
            -moz-border-radius: 50%; 
            -webkit-border-radius: 50%; 
            border-radius: 50%;
        }
        .circle-text div {
            float:left;
            width:100%;
            padding-top:50%;
            line-height:1em;
            margin-top:-0.5em;
            text-align:center;
            color:#0033cc;
        }

        .logo {
            padding:0em 0 2em 0em;
        }
        .logo h1 {
            color:#33ff99;
            font-family: 'Permanent Marker', sans-serif;
            font-size:5em;
            line-height: 1em;
            margin: 0;

        }
        .logo p {
            font-size:1.3em;
            font-weight: 100;
        }

        .searchbox-section {
            background-color: none;
        }

        .searchbox-section h2 {
            font-size: 2em;
            font-weight: 300;
            text-align: right;
            padding-top: 14px;
        }

    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* card styles
    /* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

        .card tbody tr td, .card thead tr th {
          border: none;
        }
        .card {
            background-color: #fff;
            color: #666;
            margin-bottom:4em;
            border:1px solid #ccc;
        }
        .card .row {
            /*height:2em;
            */padding:1em 0;
        }
        .card .icon {
            font-size: 7em; 
            text-align: center;
            padding: 0;
        }
        .card .icon-name {
            font-size:2em;
            text-align: center;
        }
        .card .icon-code {
            background-color: #efefef;
            text-align: center;
        }
        .card .meta {
            text-align: right;
        }
        .card .icon-link {
            text-align: center;

        }



/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
/* responsive
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
@media (max-width: 768px) { .container { width: auto; margin-right: auto; margin-left: auto; }
.forkme { display: none; } }

