<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  {% include header.html %}
  {% include navigation.html %}
  {% include forkme.html %}
  {% include about.html %}
  {% include searchbox.html %}

  <section class="main-content-section">
  <div class="palette">
  <div class="container">
  <div class="row">

    {{ content }}

  </div><!-- /.row -->
  </div><!-- /.container -->
  </div><!-- /.palette -->
  </div><!-- /.main-content-section -->

  {% include footer.html %}

  </body>
</html>