<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

  {% include header.html %}
  {% comment %}{% include navigation.html %}{% endcomment %}
  {% comment %}{% include forkme.html %}{% endcomment %}
  {% include about.html %}

  <div class="fonts">
  {% include searchbox.html %}

  <section class="main-content-section">
  <div class="palette">
  <div class="container">
  <div class="row">

    {{ content }}

  </div><!-- /.row -->
  </div><!-- /.container -->
  </div><!-- /.palette -->
  </div><!-- /.main-content-section -->
  </div><!-- /.list -->

  {% include footer.html %}

  </body>
</html>