<!DOCTYPE html>
<html>

  {% include framing/head.html %}

  <body>

  {% include framing/header.html %}
  {% include menus/navigation.html %}
  {% comment %}{% include blocks/forkme.html %}{% endcomment %}
  {% include sections/about.html %}

  <div class="fonts">
  {% include sections/searchbox.html %}

  <section class="main-content-section">
  <div class="palette">
  <div class="container">
  <div class="row">

    {{ content }}

  </div><!-- /.row -->
  </div><!-- /.container -->
  </div><!-- /.palette -->
  </div><!-- /.main-content-section -->
  </div><!-- /.list -->

  {% include framing/footer.html %}

  </body>
</html>